/*Top Header*/

@media only screen and (max-width: 768px) {

    .top-header {

        .hidden-xs {
            display: none;
        }

        .info-header i {
            padding-left: map-get($padding-sizes, xsmall);
            font-size: map-get($font-sizes, xsmall);
        }
    }
}


/*Main Slider*/
@media screen and (max-width:700px) {
    .slider-img {
        width: 100%;
    }

}

@media (max-width:500px) {

    .slider-img {
        width: 100%;
    }


}

@media screen and (max-width:450px) {

    .main-slider {
        display: none;
    }

    h3 {

        font-size: map-get($font-sizes, small);
    }

    form {
        text-align: center;
    }
}



@media screen and (max-width:1055px) {

    .about_us {
        .main_who {
            .img_text {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

            }
        }
    }
}




/*Services*/
@media (max-width:768px) {

    .servicios {
        flex-flow: column-reverse;

        .box {
            img {

                width: 100%;
            }
        }
    }
}

/*Contact*/
@media (max-width:368px) {
    form {
        width: 100%;
    }
}