/*Servicios*/

.heading {

    text-align: center;
    background: white;
    color: ($font-color-secondary);
    font-size: map-get($font-sizes, large);
    text-transform: uppercase;
    padding: map-get($padding-sizes, medium);

}


.servicios {
    p {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 10px;

    }

    .box_contenedor {
        position: relative;
        @include flex3;
        gap: 40px;


        .box {
            background: white;
            border-radius: 2rem;
            border: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
            padding: map-get($padding-sizes, xlarge) map-get($padding-sizes, large);
            text-align: center;
            transition: .2 linear;
            width: 75vh;
            max-width: 1200px;
            min-width: 320px;
            margin: auto;



            h3 {
                font-size: 2em;
                color: var($font-color-secondary);
                padding-top: map-get($padding-sizes, medium);
                margin: map-get($margin-sizes, small);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .btn {

                display: inline-block;
                margin-top: map-get($margin-sizes, small);
                padding: map-get($padding-sizes, small) map-get($padding-sizes, xlarge);
                background: linear-gradient(90deg, $background-primary, $background-secondary);
                font-size: 1em;
                color: black;
                cursor: pointer;
                border-radius: 10px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                transition: all .3s linear;

                &:hover {

                    transform: scale(1.1);
                }

            }
        }
    }
}